* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "sans-serif";
}

:root {
  --white: #fafafa;
  --text: #333333;
  --semiLightText: #565656;
  --lightText: #a9a9a9;
  // --fromGradient: #ddd6f3;
  --fromGradient: #eaafc8;
  --toGradient: #faaca8;
}
body {
  background: var(--white);
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
// global styles
input[name="search"] {
  width: 100%;
  height: 35px;
  background-color: var(--white);
  padding: 0 10px;
  border-radius: 7px;
  border: 1px solid var(--white);
  outline: 0;
  transition: background-color 0.15s;
  &::placeholder {
    color: var(--lightText);
    transition: padding 0.15s;
  }
  &:focus {
    background-color: var(--white);
    &::placeholder {
      padding-left: 5px;
    }
  }
}
header {
  background-color: #fff200;
  height: 90vh;
  background: transparent url("/images/HeaderBackground.jpg") center/cover
    no-repeat;
  position: relative;
  nav {
    box-shadow: 0 4px 7px 0 rgba($color: #000, $alpha: 0.15);
    // background-color: rgba($color: #000000, $alpha: 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 75px;
      padding: 0 10px;
      a.brand {
        text-decoration: none;
        font: 400 34px "Galada";
        background: linear-gradient(
          120deg,
          var(--fromGradient),
          var(--toGradient)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      input {
        margin: 0 15px;
        max-width: 300px;
        &.search-input-leave-to,
        &.search-input-enter-from {
          transform: translateY(-70px);
        }
        &.search-input-enter-to,
        &.search-input-leave-from {
          transform: translateY(0);
        }
        &.search-input-enter-active,
        &.search-input-leave-active {
          transition: transform 0.5s;
        }

        @media (min-width: 640px) {
          margin-left: auto;
        }
      }

      ul {
        display: flex;
        list-style: none;
        gap: 7px;
        li {
          svg {
            width: 26px;
            cursor: pointer;
            &:hover {
              path {
                fill: var(--white);
              }
            }
          }
          p {
            display: none;
          }
        }
      }
    }
  }

  .header-overlay {
    background-color: rgba($color: #000000, $alpha: 0.65);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 90;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 10px;
    .header-title {
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;
      color: var(--white);
      text-transform: capitalize;
    }
    .header-subtitle {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: var(--white);
      margin-bottom: 6px;
      span {
        background: linear-gradient(
          120deg,
          var(--fromGradient),
          var(--toGradient)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 500;
      }
    }
    // product search input
    input {
      background-color: transparent;
      &.bg-white {
        background-color: var(--white);
      }
    }

    @media (min-width: 640px) {
      .header-title {
        font-size: 28px;
      }
      .header-subtitle {
        margin: 10px 0;
        font-size: 20px;
      }
      input {
        max-width: 300px;
      }
    }
  }
  .category-submenu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 270px;
    z-index: 1000;
    padding: 10px;
    background-color: var(--white);
    transition: all 0.25s;

    h4 {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 10px;
    }
    .close-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 28px;
      cursor: pointer;
      &:hover {
        background-color: #f2f2f2;
        border-radius: 3px;
      }
    }
    article {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 5px;
      max-height: 100vh;
      overflow: auto;

      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        border-radius: 5px;
        padding: 10px;
        color: var(--semiLightText);
        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
        }
        svg {
          width: 32px;
          filter: contrast(0);
        }
        &:hover {
          background-color: #f2f2f2;
          color: var(--text);
          p {
            font-weight: 600;
          }
          svg {
            transform: scale(1.05);
            filter: contrast(0) brightness(0.6);
          }
        }
      }
    }
  }
  .category-submenu-desktop {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: rgba($color: #fff, $alpha: 0.7);
    backdrop-filter: blur(1.5px);
    z-index: -1;
    padding: 30px 0;
    .container {
      height: initial;
      display: grid;
      align-items: start;
      // need some modifications later
      grid-template-columns: 250px calc(100% - 250px);
      padding: 0;
      ul.categories-list {
        width: 100%;
        // background-color: red;
        &.categories-list {
          display: grid;
          // gap: 15px;
          button {
            width: 100%;
            height: 50px;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            border: 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            background-color: transparent;
            border-radius: 30px 0 0 30px;
            color: var(--text);
            svg {
              filter: contrast(0) brightness(0.5);
              margin-left: 20px;
            }
            &.active {
              box-shadow: -2px 4px 4px 0 rgba($color: #000000, $alpha: 0.1);
              background-color: var(--white);
              span {
                background: linear-gradient(
                  120deg,
                  var(--fromGradient),
                  var(--toGradient)
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              svg {
                filter: contrast(1);
              }
            }
          }
        }
      }
      ul.brands-list {
        background-color: var(--white);
        box-shadow: 4px 4px 4px 0 rgba($color: #000000, $alpha: 0.1);
        height: 100%;
        z-index: 1000;
        border-radius: 1px 15px 15px 1px;
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 15px;
        // grid-template-rows: repeat(2, 1fr);
        li.brands-item {
          padding-left: 10px;
          h4 {
            font-weight: 600;
            font-size: 19px;
            line-height: 28.5px;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 3px;
              height: 100%;
              background-color: rgb(223, 95, 95);
              left: -10px;
              top: 0;
            }
          }
          & > ul {
            padding-left: 15px;
            // background-color: yellow;
            margin-top: 5px;
            display: grid;
            li {
              height: fit-content;
              a {
                color: var(--lightText);
                text-decoration: none;
                font-size: 16px;
                line-height: 24px;
                position: relative;
                overflow: hidden;
                display: inline-block;
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: -100%;
                  width: 100%;
                  height: 2px;
                  background-color: var(--lightText);
                  transition: left 0.15s;
                }
                &:hover {
                  color: var(--semiLightText);
                  &::after {
                    left: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .category-submenu-enter-from,
  .category-submenu-leave-to {
    right: -270px;
  }

  .category-submenu-enter-active,
  .category-submenu-leave-active {
    transition: all 0.35s;
  }
  .dropdown-category-submenu-enter-from,
  .dropdown-category-submenu-leave-to {
    top: 30px;
    opacity: 0;
  }
  .dropdown-category-submenu-enter-active,
  .dropdown-category-submenu-leave-active {
    transition: all 0.25s ease-out;
  }
}

// Subheader Elements
.subheader {
  padding: 30px 10px;
  background-color: #f8f8f8;
  display: grid;
  gap: 30px;

  article {
    display: grid;
    h4 {
      margin-top: 10px;
      color: var(--text);
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
    }
    p {
      color: var(--semiLightText);
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }
  }

  @media (min-width: 640px) {
    & {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      article {
        text-align: center;
        img {
          margin: 0 auto;
        }
      }
    }
  }
  @media (min-width: 960px) {
    & {
      display: flex;
      justify-content: space-evenly;
      article {
        display: grid;
        grid-template-columns: 64px calc(100% - 64px);
        column-gap: 15px;

        grid-template-rows: repeat(2, 1fr);
        text-align: left;
        img {
          grid-row-start: 1;
          grid-row-end: 3;
        }
      }
    }
  }
}
