* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 16px "Montserrat", "sans-serif";
}
// Mixins
@mixin GradientText($color1, $color2) {
  background: linear-gradient(120deg, $color1, $color2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

:root {
  --white: #fafafa;
  --text: #333333;
  --semiLightText: #565656;
  --lightText: #a9a9a9;

  // --fromGradient: #ddd6f3;
  --fromGradient: #eaafc8;
  --toGradient: #faaca8;
  --purpleGradient: #a17fe0;
  --blueGradient: #4286f4;

  --productCardBorder: #e2e2e2;
  --productCardBorderActive: #d9d9d9;
  --darkWhiteBg: #f1f1f1;
  --light: #d9d9d9;
  --red: #e94057;
}
body {
  background: var(--white);
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
// global styles
input[name="search"] {
  width: 100%;
  height: 35px;
  background-color: var(--white);
  padding: 0 10px;
  border-radius: 7px;
  border: 1px solid var(--white);
  outline: 0;
  transition: background-color 0.15s;
  &::placeholder {
    color: var(--lightText);
    transition: padding 0.15s;
  }
  &:focus {
    background-color: var(--white);
    &::placeholder {
      padding-left: 5px;
    }
  }
}

header.app-header {
  position: relative;
  nav {
    // background-color: rgba($color: #000000, $alpha: 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    height: 120px;
    transition: all 0.35s;
    box-shadow: none;
    background-color: transparent;
    &.fade-in {
      box-shadow: 0 4px 7px 0 rgba($color: #000, $alpha: 0.15);
      background-color: var(--white);
      height: 75px;
      .nav-search-input {
        border: 1px solid var(--lightText);
      }
      .nav-search,
      .nav-category,
      .nav-cart,
      .nav-user {
        path {
          fill: var(--lightText);
        }
        &:hover path {
          fill: #333333bf;
        }
      }
      .category-submenu-desktop {
        top: 75px;
      }
      .dropdown-category-submenu-enter-from,
      .dropdown-category-submenu-leave-to {
        top: 45px;
        opacity: 0;
      }
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a.brand {
        text-decoration: none;
        font: 400 34px "Galada";

        @include GradientText(var(--fromGradient), var(--toGradient));
      }
      input {
        margin: 0 15px;
        max-width: 300px;
        &.search-input-leave-to,
        &.search-input-enter-from {
          transform: translateY(-70px);
        }
        &.search-input-enter-to,
        &.search-input-leave-from {
          transform: translateY(0);
        }
        &.search-input-enter-active,
        &.search-input-leave-active {
          transition: transform 0.5s;
        }

        @media (min-width: 640px) {
          margin-left: auto;
        }
      }

      ul {
        display: flex;
        list-style: none;
        gap: 7px;
        li {
          svg {
            width: 26px;
            cursor: pointer;
            &:hover {
              path {
                fill: var(--white);
              }
            }
          }
          p {
            display: none;
          }
        }
      }
    }
  }
  .category-submenu-desktop {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: rgba($color: #fff, $alpha: 0.7);
    backdrop-filter: blur(3px);
    z-index: -1;
    padding: 30px 0;

    .container {
      height: initial;
      display: grid;
      align-items: start;
      // need some modifications later
      grid-template-columns: 250px calc(100% - 250px);
      padding: 0;
      ul.categories-list {
        width: 100%;
        // background-color: red;
        &.categories-list {
          display: grid;
          // gap: 15px;
          button {
            width: 100%;
            height: 50px;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            border: 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            background-color: transparent;
            border-radius: 30px 0 0 30px;
            color: var(--text);
            svg {
              filter: contrast(0) brightness(0.5);
              margin-left: 20px;
            }
            &.active {
              box-shadow: -2px 4px 4px 0 rgba($color: #000000, $alpha: 0.1);
              background-color: var(--white);
              span {
                @include GradientText(var(--fromGradient), var(--toGradient));
              }
              svg {
                filter: contrast(1);
              }
            }
          }
        }
      }
      ul.brands-list {
        background-color: var(--white);
        box-shadow: 4px 4px 4px 0 rgba($color: #000000, $alpha: 0.1);
        height: 100%;
        z-index: 1000;
        border-radius: 1px 15px 15px 1px;
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 15px;
        // grid-template-rows: repeat(2, 1fr);
        li.brands-item {
          padding-left: 10px;
          h4 {
            font-weight: 600;
            font-size: 19px;
            line-height: 28.5px;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 3px;
              height: 100%;
              background-color: rgb(223, 95, 95);
              left: -10px;
              top: 0;
            }
          }
          & > ul {
            padding-left: 15px;
            // background-color: yellow;
            margin-top: 5px;
            display: grid;
            li {
              height: fit-content;
              a {
                color: var(--lightText);
                text-decoration: none;
                font-size: 16px;
                line-height: 24px;
                position: relative;
                overflow: hidden;
                display: inline-block;
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: -100%;
                  width: 100%;
                  height: 2px;
                  background-color: var(--lightText);
                  transition: left 0.15s;
                }
                &:hover {
                  color: var(--semiLightText);
                  &::after {
                    left: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .category-submenu-enter-from,
  .category-submenu-leave-to {
    right: -270px;
  }

  .category-submenu-enter-active,
  .category-submenu-leave-active {
    transition: all 0.35s;
  }
  .dropdown-category-submenu-enter-from,
  .dropdown-category-submenu-leave-to {
    top: 60px;
    opacity: 0;
  }
  .dropdown-category-submenu-enter-active,
  .dropdown-category-submenu-leave-active {
    transition: all 0.25s ease-out;
  }
}

// Home.vue
header.main-header {
  background: transparent url("/images/HeaderBackground.jpg") center/cover
    no-repeat;
  position: relative;
  height: 90vh;
  .header-overlay {
    background-color: rgba($color: #000000, $alpha: 0.65);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 90;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 10px;
    .header-title {
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;
      color: var(--white);
      text-transform: capitalize;
    }
    .header-subtitle {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: var(--white);
      margin-bottom: 6px;
      span {
        @include GradientText(var(--fromGradient), var(--toGradient));
        font-weight: 500;
      }
    }
    // product search input
    input {
      background-color: transparent;
      &.bg-white {
        background-color: var(--white);
      }
    }

    @media (min-width: 640px) {
      .header-title {
        font-size: 28px;
      }
      .header-subtitle {
        margin: 10px 0;
        font-size: 20px;
      }
      input {
        max-width: 300px;
      }
    }
  }
}
// Subheader Elements
.subheader {
  padding: 30px 10px;
  background-color: #f8f8f8;
  display: grid;
  gap: 30px;

  article {
    display: grid;
    h4 {
      margin-top: 10px;
      color: var(--text);
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
    }
    p {
      color: var(--semiLightText);
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }
  }

  @media (min-width: 640px) {
    & {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      article {
        text-align: center;
        img {
          margin: 0 auto;
        }
      }
    }
  }
  @media (min-width: 960px) {
    & {
      display: flex;
      justify-content: space-evenly;
      article {
        display: grid;
        grid-template-columns: 64px calc(100% - 64px);
        column-gap: 15px;

        grid-template-rows: repeat(2, 1fr);
        text-align: left;
        img {
          grid-row-start: 1;
          grid-row-end: 3;
        }
      }
    }
  }
}

.our-categories,
.some-stuff {
  margin: 75px auto;
  h3.our-categories-title,
  h3.some-stuff-title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 500;
    color: var(--text);
    text-align: center;
  }
  p.our-categories-subtitle,
  p.some-stuff-subtitle {
    color: var(--semiLightText);
    font-size: 19px;
    line-height: 28.5px;
    text-align: center;
  }
  article.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
    position: relative;
    padding-bottom: 75px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(
        120deg,
        var(--fromGradient),
        var(--toGradient)
      );
    }
    .category-item {
      position: relative;
      border-radius: 3px;
      overflow: hidden;
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 319px;
      transition: box-shadow 0.25s;
      &:hover {
        box-shadow: 0 15px 30px 0px rgba($color: #000, $alpha: 0.2);
      }
      img {
        width: 100%;
        object-fit: cover;
      }
      .category-item-overlay {
        position: absolute;
        padding: 15px;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.2);
        width: 100%;
        height: 100%;
        .category-item-title {
          font-size: 24px;
          line-height: 36px;
          color: var(--text);
        }
        .category-item-subtitle {
          line-height: 24px;
          color: var(--semiLightText);
        }
      }
      &.dark {
        .category-item-title {
          color: var(--white);
        }
        .category-item-subtitle {
          color: rgba($color: #fafafa, $alpha: 0.75);
        }
      }
      &.category-supermarket {
        .category-item-overlay {
          display: flex;
          flex-direction: column;
          justify-content: end;
        }
      }
      &.category-car {
        .category-item-overlay {
          display: flex;
          flex-direction: column;
          justify-content: end;
        }
      }
      &.category-technology {
        text-align: left;
        .category-item-overlay {
          display: flex;
          flex-direction: column;
        }
      }
      @media (min-width: 540px) {
        width: initial;
        &.category-supermarket {
          width: 212px;
        }
        &.category-car {
          width: 440px;
        }
        &.category-cosmetic {
          width: 498px;
        }
      }
    }
  }
}
// Discounts
.discount {
  margin-bottom: 150px;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    bottom: -75px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(120deg, var(--fromGradient), var(--toGradient));
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 25px;
    h3 {
      font-size: 24px;
      line-height: 36px;
      font-weight: 500;
      color: var(--text);
    }
    a {
      color: var(--lightText);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .discount-list {
    display: flex;
    gap: 25px;
  }

  footer.discount-arrows {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 15px;
    gap: 5px;
    button {
      display: flex;
      border: 0;
      cursor: pointer;
      border-radius: 3px;
      &:hover {
        svg rect {
          fill: #e9e9e9;
        }
      }
    }
  }
}

// some of our stuff
.some-stuff {
  header {
    nav {
      margin-top: 45px;
      border-bottom: 1px solid #ccccbf;
      height: 35px;
      ul {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        li button.nav-btn {
          font-size: 17px;
          line-height: 25.5px;
          color: var(--lightText);
          background-color: transparent;
          border: 0;
          cursor: pointer;
          position: relative;
          transition: all 0.15s;
          &.active {
            color: var(--text);
            &::after {
              opacity: 1;
            }
          }
          &::after {
            content: "";
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(
              120deg,
              var(--fromGradient),
              var(--toGradient)
            );
            position: absolute;
            border-radius: 10px;
            opacity: 0;
            transition: opacity 0.15s;
          }
        }
      }
    }
  }
  article.some-stuff-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

// PRODUCT ITEM.vue
.product-card {
  border: 1px solid var(--productCardBorder);
  border-radius: 10px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.15s;
  &:hover {
    box-shadow: 0 5px 10px 1px var(--productCardBorder);
  }
  img.product-img {
    width: 280px;
    height: 260px;
    object-fit: cover;
    border-radius: 9px 9px 0 0;
  }
  .product-detail {
    padding: 10px;
    // router-link
    a {
      text-decoration: none;
    }
    .product-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--text);
    }
    .product-description {
      font-size: 14px;
      line-height: 21px;
      color: var(--lightText);
    }
    .product-rating-price {
      display: flex;
      margin-top: 30px;
      align-items: center;
      .product-rating {
        display: inherit;
        align-items: center;
        background-color: rgba($color: #565656, $alpha: 0.85);
        padding: 5px;
        border-radius: 3px;
        span {
          color: var(--white);
          margin-left: 5px;
          line-height: 21px;
        }
      }
      span.review-amount {
        color: var(--semiLightText);
        margin-left: 10px;
      }

      .product-price {
        margin-left: auto;
        span {
          line-height: 21px;
          &.last-price {
            margin-right: 10px;
            color: var(--lightText);
            text-decoration: line-through;
          }
          &.new-price {
            color: var(--text);
            font-weight: 500;
          }
        }
      }
    }
  }

  @keyframes appearAccessibilityBtns {
    0% {
      transform: translateY(50px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .product-overlay {
    background: linear-gradient(to top, #0000009b, #00000000);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 9px 9px 0 0;
    width: 280px;
    height: 260px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 10px;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.25s;
    overflow: hidden;
    button {
      background-color: var(--white);
      border: 0;
      border-radius: 50px;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      pointer-events: none;
      transform: translateY(50px);
      svg {
        width: 18px;
        height: 18px;
        filter: grayscale(1);
      }

      &.active {
        svg {
          filter: grayscale(0);
        }
      }
    }
    &:hover {
      opacity: 1;
      button {
        pointer-events: all;
        &:nth-child(1) {
          transition-delay: 0.3s;
          animation: appearAccessibilityBtns 0.4s 0.3s forwards;
        }
        &:nth-child(2) {
          animation: appearAccessibilityBtns 0.4s 0.15s forwards;
          transition-delay: 0.15s;
        }
        &:nth-child(3) {
          animation: appearAccessibilityBtns 0.4s 0s forwards;
          transition-delay: 0s;
        }
      }
    }
  }
}

// Cart.vue
.cart-view {
  padding-top: 130px;
  background-color: var(--darkWhiteBg);
  min-height: 100vh;
  .empty-cart-screen {
    height: 100%;
    background-color: var(--white);
    border-radius: 7px;
    box-shadow: 0px 10px 20px rgba(169, 169, 169, 0.3);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: var(--white);
    // background: linear-gradient(120deg, #eaafc877, #faaca877);
    // --fromGradient: #eaafc8;
    // --toGradient: #faaca8;
    svg {
      width: 82px;
      height: 82px;
      path {
        fill: var(--text);
      }
    }
    div {
      display: flex;
      align-items: center;
      gap: 5px;
      h3,
      a {
        font-size: 19px;
        line-height: 28.5px;
        color: var(--text);
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 500;
      }
      a {
        color: var(--lightText);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .cart-view-inner {
    display: flex;
    gap: 25px;
    align-items: flex-start;
    h3 {
      font-size: 19px;
      font-weight: 500;
      text-transform: capitalize;
      line-height: 28.5px;
      margin-bottom: 15px;
    }
    .cart-list {
      width: 218%;
      .cart-list-inner {
        background-color: var(--white);
        border-radius: 7px;
        padding: 20px;
        height: fit-content;
        .cart-item {
          display: flex;
          align-items: center;
          position: relative;
          gap: 15px;
          &:not(:last-child) {
            margin-bottom: 60px;
            &::after {
              content: "";
              position: absolute;
              bottom: -30px;
              right: 50%;
              transform: translateX(50%);
              height: 1px;
              width: 75%;
              background-color: rgba($color: #d9d9d9, $alpha: 0.5);
            }
          }

          .cart-item-desc {
            h3 {
              font-weight: 500;
              line-height: 24px;
              color: var(--text);
              margin-bottom: 10px;
              font-size: 16px;
            }
            p,
            span {
              color: var(--lightText);
              font-size: 14px;
              line-height: 21px;
              text-transform: capitalize;
              span {
                color: var(--text);
              }
            }
          }

          .cart-item-price {
            display: flex;
            gap: 10px;
            margin-right: 10px;
            span {
              font-weight: 600;
              font-size: 14px;
              line-height: 21px;
              color: var(--red);
            }
            .active-price {
              color: var(--red);
            }
            .inactive-price {
              color: var(--lightText);
              text-decoration: line-through;
            }
          }
          .cart-item-qty {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-left: auto;
            input {
              background-color: #f4f4f4;
              height: 35px;
              width: 80px;
              border: 0;
              padding: 0 5px 0 10px;
              outline: none;
              border-radius: 4px;
              font-weight: 14px;
              color: var(--text);
              line-height: 21px;
              box-shadow: inset 0px 0px 5px rgba(169, 169, 169, 0.3);
              &:focus {
                box-shadow: inset 0px 0px 5px rgba(169, 169, 169, 0.7);
              }
            }
            label {
              font-weight: 14px;
              color: var(--lightText);
              line-height: 21px;
            }
          }
          button {
            display: flex;
            background-color: transparent;
            border: 0;
            border-radius: 4px;
            margin-left: 10px;
            cursor: pointer;
            &:hover {
              svg,
              path {
                fill: var(--red);
              }
            }
          }
        }
      }
    }
    .payment-summary {
      width: 100%;
      position: -webkit-sticky;
      position: sticky;
      top: 100px;
      .payment-summary-inner {
        background-color: var(--white);
        border-radius: 7px;
        padding: 20px;
        .transaction-code {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          h4 {
            color: var(--semiLightText);
            line-height: 24px;
            text-transform: capitalize;
          }
          span {
            color: var(--text);
            line-height: 24px;
            text-transform: uppercase;
          }
        }

        .coupon-code {
          display: flex;
          gap: 15px;
          input {
            border: 1px solid var(--productCardBorder);
            height: 40px;
            border-radius: 4px;
            width: 100%;
            padding: 0 10px;
            font-size: 14px;
            line-height: 21px;
            outline: none;
            &::placeholder {
              color: var(--lightText);
              font-size: 14px;
            }
            &:focus {
              box-shadow: 0px 3px 7px rgba(169, 169, 169, 0.25);
            }
          }
          button {
            max-width: 110px;
          }
        }
      }
      .payment-summary-recipt {
        padding: 25px 0 25px;
        margin-top: 30px;
        border: 2px dashed var(--light);
        border-width: 2px 0 2px 0;
        .order-summary-amount,
        .additional-service-amount,
        .total-amount {
          display: flex;
          justify-content: space-between;
          line-height: 24px;
          margin-bottom: 15px;
          h4,
          h5 {
            color: var(--semiLightText);
          }
          span {
            color: var(--text);
          }
        }
        .total-amount {
          margin-bottom: 0;
          margin-top: 30px;
          h4,
          span {
            font-weight: 600;
          }
        }
      }
      .checkout-btn {
        margin-top: 15px;
        height: 40px;
        font-weight: 500;
        line-height: 24px;
      }
      .coupon-code-btn,
      .checkout-btn {
        width: 100%;
        background: linear-gradient(
          120deg,
          var(--fromGradient),
          var(--toGradient)
        );
        color: var(--white);
        font-size: 14px;
        line-height: 21px;
        border: 0;
        border-radius: 4px;
        box-shadow: 0px 3px 7px rgba(169, 169, 169, 0.25);
        cursor: pointer;
      }
    }
  }
}

// Login.vue
.login-view {
  height: 100vh;
  padding-top: 130px;
  background-color: var(--darkWhiteBg);
  .login-view-inner {
    border-radius: 7px;
    overflow: hidden;
    background-color: var(--white);
    display: flex;
    .login-inner {
      width: 218%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 75px 0 50px;

      h3 {
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
        @include GradientText(var(--purpleGradient), var(--blueGradient));
      }
      .login-with-social {
        display: flex;
        gap: 10px;
        margin-top: 15px;
      }
      span {
        color: var(--semiLightText);
        font-size: 10px;
        font-weight: 600;
        line-height: 15px;
        margin: 20px 0;
        position: relative;
        &::after,
        &::before {
          content: "";
          position: absolute;
          background-color: var(--productCardBorder);
          width: 190px;
          height: 1px;
          top: 50%;
          transform: translateY(-50%);
          right: 30px;
        }
        &::before {
          left: 30px;
        }
      }
      .login-form {
        width: 100%;
        max-width: 425px;
        display: grid;
        gap: 15px;
        .input-group {
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          input:not([type="checkbox"]) {
            width: 100%;
            padding: 0 15px 0 54px;
            height: 40px;
            background: linear-gradient(120deg, #a17fe026, #4286f426);
            border: 0;
            border-radius: 4px;
            font-size: 14px;
            line-height: 21px;
            color: var(--text);
            outline: none;
            &::placeholder {
              color: var(--lightText);
              transition: padding 0.15s;
            }
            &:focus {
              box-shadow: inset 0px 0px 5px rgba(169, 169, 169, 0.7);
              &::placeholder {
                padding-left: 10px;
              }
            }
          }
          img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
          }
          input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            width: 18px;
            height: 18px;
            border: 1px solid var(--light);
            border-radius: 4px;
            background-position: center;
            background-size: cover;
            &:checked {
              appearance: none;
              background: #4286f4
                url("/public/images/Authentications/Check.svg") center/contain
                no-repeat;
              border: 0;
            }
          }
          label,
          a {
            font-size: 12px;
            line-height: 18px;
            color: var(--text);
          }
          a {
            margin-left: auto;
            color: var(--lightText);
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
          label {
            padding-left: 10px;
          }
        }
        button {
          // --purpleGradient: #a17fe0;
          // --blueGradient: #4286f4;
          background: linear-gradient(120deg, #a17fe0bf, #4286f4bf);
          padding: 10px 50px;
          font-weight: 500;
          font-size: 14;
          line-height: 21px;
          margin: 0 auto;
          border-radius: 25px;
          border: 0;
          cursor: pointer;
          margin-top: 50px;
          color: var(--white);
        }
      }
    }
    .login-banner {
      width: 100%;
      max-width: 400px;
      background: linear-gradient(120deg, #a17fe0bf, #4286f4bf);
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 100px 50px;
      gap: 20px;
      position: relative;
      // Square
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: rgba($color: #fafafa, $alpha: 0.17);
        top: 10%;
        right: 10%;
        rotate: 45deg;
        border-radius: 2px;
      }
      &::before {
        top: 75%;
        height: 45px;
        right: 80%;
        rotate: -45deg;
      }
      .circle {
        width: 300px;
        height: 300px;
        position: absolute;
        bottom: -32%;
        right: -32%;
        background-color: rgba($color: #fafafa, $alpha: 0.17);
        border-radius: 100%;
      }
      h3 {
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
      }
      p {
        line-height: 24px;
      }
      a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        line-height: 22.5px;
        background-color: transparent;
        border: 1px solid var(--white);
        text-transform: uppercase;
        color: var(--white);
        padding: 10px 60px;
        border-radius: 25px;
        cursor: pointer;
      }
    }
  }
}
